# Python
venv/
**/__pycache__/
*.pyc
.env
backend/.env

# Node.js
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# IDEs
.vscode/
.idea/
*.swp
*.log

# Windows
Thumbs.db
Desktop.ini
